
/* xx: top right bottom left; */

body{
	background-color: #527c90;
	transition: 0.2s;
	font-family: 'Hind Guntur', sans-serif;
}

a{
	color: white;
}

a:hover{
	color: #e2e2e2;
	text-decoration: none;
}

.full-content {
    max-width: 1000px;
    margin: auto;
    display: block;
}

.profile-image{
	width: 200px;
	height: 200px;
}

.social-image{
	width: 40px;
	height: 40px;
	margin: 15px 10px 10px 0px;
}

.row{
	padding: 5px 0px 5px 0px;
	margin: auto;
}

.summary-bg{
	background: #527c90;
}

.summary-info{
	/*background: #f4f4f4;*/
}

.summary-image{

}

.summary-text{
	margin: auto;
	color: #ffffff;
}

.summary-text h1{
	margin: 0;
}

.interests-bg{
	background: #980000;
}

.education-bg{
	background: #984500;
}

.research-bg{
	background: #a77f03;
}

.experience-bg{
	background: #0c8900;
}

.portfolio-bg{
	background: #004b83;
}

.section-name{
	padding: 15px 0 0px 0;
	color: white;
}

.vl {
  border-left: 1px solid white;
  height: 50px;
  float: right;
  margin: 15px 0px 15px 25px;
}

.port-image{
	height: auto;
	width: 60%;
	padding: 10px;
}

.port-image-padding{
	border: 1px solid #cfcfcf;
	border-radius: 5px;
}

.content-title{
	font-size: 30px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;	
}
.content-subtitle{
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;	
}

.content-subtitle2{
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;	
}
.content-sub-subtitle {
	font-size: 15px;
	font-weight: lighter;
	padding-left: 15px;
	padding-right: 15px;
}


